<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>LSDP Inventory</title>
</head>
<body>
<article>
    <Header>{{> nav}}</Header>
    <Body>
    <main class="container">
        {{{body}}}
    </main>
    </Body>
    <Footer>
        <button id="reset-database" role="button">Reset Database</button>
        <script src="./js/reset_database.js"></script>

    </Footer>
</article>
</body>
</html>