<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>LSDP Inventory</title>
</head>
<body>
<article>
    <Header>
        {{> nav}}
    </Header>
    <Body>
        <main class="container-fluid">
            {{{body}}}
        </main>
    </Body>
    <Footer>
        <p>© James C. Ramos / Carlos E. Bernal Urbina</p>
        <p>Oregon State University</p>
    </Footer>
</article>
</body>
</html>