<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>LSDP Inventory</title>
</head>
<body>
    {{> nav}}
    <main class="container">
        {{{body}}}
    </main>
</body>
</html>