<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Equipment-Components</h1>

<form id="add-equipment-component-form-ajax">
    <label for="select-equipment">Select Equipment:</label>
    <select id="select-equipment" name="equipmentID">
    </select><br>

    <label for="select-component">Select Component:</label>
    <select id="select-component" name="componentID">
    </select><br>

    <input type="submit" value="Add Relationship">
</form>

<script src="./js/add_equipment_component.js"></script>

<table id="equipment-components-table">
    <thead>
    <tr>
        <th>Equipment-Component ID</th>
        <th>Equipment Name</th>
        <th>Component Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
    <tr>
        <td>{{this.equipmentComponentID}}</td>
        <td>{{this.equipmentName}}</td>
        <td>{{this.componentName}}</td>
        <td>
            <button onclick="deleteEquipmentComponent({{this.equipmentComponentID}})">Delete</button>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>

