<!-- index.hbs -->
<h1>Home</h1>
<p>At Lone Star Dairy, a powder processing plant, maintenance personnel have to deal with swapping out valves, motors, pumps, etc. on a daily basis. In an environment with many part numbers (over 500) and even more components utilizing those part numbers (over 5000), this work becomes harder to finish without an asset management system. This unnecessary increase in work, time spent, and resources can be resolved by creating a website with a database that provides a user interface that allows Lone Star employees to manage assets through operations such as creating, accessing, updating, and deleting.</p>
<button id="reset-database">Reset Database</button>
        <script src="./js/reset_database.js"></script>