<!-- index.hbs -->
<h1>Manuals</h1>

<div class="content">
    <div class="table-container">
        {{!-- Create a table --}}
        <table id="manuals-table">

            {{!-- Header section --}}
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Link</th>
                <th>Actions</th> <!-- Added column for actions like delete -->
            </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the attributes in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.manualID}}</td>
                    <td>{{this.manualName}}</td>
                    <td>{{this.manualLink}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="forms-container">
        {{!-- Add Data to Table Form --}}
        <h2>Add</h2>
        <form id="add-manual-form-ajax">
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name">
            
            <label for="input-link">Link: </label>
            <input type="text" name="input-link" id="input-link">

            <input type="submit" value="Add New Manual">
        </form>
    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_manual.js"></script>