<!-- index.hbs -->
<h1>Manuals</h1>

{{!-- Create a table --}}
<table id="manuals-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}
        <tr>
            <td>{{this.manualID}}</td>
            <td>{{this.manualName}}</td>
            <td>{{this.manualLink}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Add Data to Table Form --}}
<h2>Add New Manual</h2>
<form id="add-manual-form-ajax">
    <label for="input-name">Manual Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-link">Link: </label>
    <input type="text" name="input-link" id="input-link">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_manual.js"></script>