/* Blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #1e88e5;
    --primary-hover: #1976d2;
    --primary-focus: rgba(30, 136, 229, 0.125);
    --primary-inverse: #FFF;
}

/* Blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #1e88e5;
        --primary-hover: #2196f3;
        --primary-focus: rgba(30, 136, 229, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #1e88e5;
    --primary-hover: #2196f3;
    --primary-focus: rgba(30, 136, 229, 0.25);
    --primary-inverse: #FFF;
}

/* Blue (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

/* Container Styles */
.content {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure the parent container takes the full width */
}

.table-container, .forms-container {
    box-sizing: border-box;
    width: 50%; /* Set each container to take up half the screen */
    margin: 0;
    padding: 0;
}

.table-container {
    margin-right: 1%; /* Add margin to the right of the table container */
}

.forms-container {
    margin-left: 1%; /* Add margin to the left of the form container */
}

/* Styles for smaller screens */
@media only screen and (max-width: 1800px) {
    .content {
        display: block;
    }

    .table-container, .forms-container {
        box-sizing: border-box;
        width: 100%;
        /* Adjust padding and margin as needed */
    }
}

